               h1#one
		                {
					                color:red;
							                font-family:verdana;
									                font-size:270%;
											                text-align:center
													                }
p.two
																	                {
																				                color:blue;
																						                font-family:courier;
																								                font-size:140%;
																										                text-align:center;
																		}

